@import "./reset.css";
@import "./vars.css";

body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  /* flex-direction: column; */
  /* align-items: center; */
  color: white;
  background-color: var(--gray1);
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
}

nav {
  background-color: black;
  padding-top: 1.5rem;
}

nav img {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--gray3);
  padding: 0 1.5rem;
}

.activeLink {
  color: white;
}

main {
  margin: 4rem;
  overflow: scroll;
}

main ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}

.listItem{
  background-color: var(--gray2);
  padding: 1rem 1rem .5rem 1rem;
  border-radius: var(--borderRadiusCard);
  cursor: pointer;
}

.listItem:hover{
  background-color: var(--gray4);
}

.listItem a {
  text-decoration: none;
  color: inherit;
}

.listItem img{
  object-fit: cover;
  width: 100%;
  border-radius: var(--borderRadiusCard);
  margin-bottom: 1rem;
}

.listItem h3 {
  font-size: 1rem;
  font-weight: 600;
}

.listItem h4 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray3);
  margin-top: .2rem;
}

.listItem iframe {
  width: 100%;
  border-radius: 12px;
  height: 100px;
  border: none;
  margin-top: .4rem;
}
